
<!DOCTYPE html>
<html xmlsn="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layoutPadrao}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de títulos</title>
</head>
<section layout:fragment="conteudo">
    <form class="form-horizontal col-10" style="margin: auto; margin-top: 80px;">
        <div class="card" style="margin: auto">
            <div class="card-header">
                <ul class="nav card-header-tabs">
                    <li class="nav-item">
                        <h5>Listagem de títulos</h5>
                    </li>
                    <li class="nav-item" style="margin-left: auto;">
                        <a class="nav-link" th:href="@{/titulos/cadastroTitulo}">Novo título</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <label for="exampleDataList" class="form-label">Pesquisar</label>
                <input class="col-6 form-control" placeholder="Escreva para pesquisar..." style="margin-bottom: 20px;">
                <table class="table table-bordered table-striped table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center col-md-1">#</th>
                            <th>Descrição</th>
                            <th class="text-center col-md-2">Data vencimento</th>
                            <th class="text-lg-end col-md-2">Valor</th>
                            <th class="text-center col-md-2">Status</th>
                            <td scope="col" ></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="titulo: ${titulos}">
                            <td class="text-center col-md-1" th:text="${titulo.codigo}"></td>
                            <td scope="row" th:text="${titulo.descricao}"></td>
                            <td class="text-center col-md-2"
                                th:text="${titulo.dataVencimento}" pattern="dd/MM/yyyy"></td>
                            <td class="text-lg-end col-md-2" th:text="${titulo.valor}"></td>
                            <td class="text-center col-md-2" th:text="${titulo.statusTitulo}"></td>
                            <td class="text-center col-md-2">
                                <a role="button" 
                                    th:href="@{/titulos/{titulo}/editar(titulo=${titulo.codigo})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: #0063A5; margin-right: 15px;margin-left: 15px;">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="color: #DC3545; margin-right: 15px;">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color: #198754;">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>
</html>