<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-expand-lg" style="background-color: #343a40;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/img/_logotipo-horizontal_monocromatico-branco.png" class="img-fluid" 
                    alt="Imagem responsiva">
            </a>
        </div>
        <div class="collapse navbar-collapse" style="margin-left: 25px;">
            <a class="navbar-brand" th:href="@{/titulos}" style="color: #fefefe">Títulos</a>
            <a class="navbar-brand" th:href="@{/contatos}" style="color: #fefefe">Contatos</a>
        </div>
    </div>
</nav>

</html>